name: Daily Devcard
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # Runs at 9pm UTC
    - cron: "0 21 * * *"
jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.2.1
        with:
          user_id: ${{ secrets.DAILY_DOT_DEV_USER_ID }}
          commit_message: "chore: update ${filename}"
          type: wide
