name: DevCard

permissions:
  contents: write
  
on:
  schedule:
    # Runs at 9pm UTC
    - cron: "0 21 * * *"
  workflow_dispatch:
#   push:
#     branches:
#       - main
    
jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.2.1
        with:
          devcard_id: ${{ secrets.DAILY_DOT_DEV_USER_ID }}
